/* Remove default button styling */
button.clean {
	background: none;
	color: inherit;
	border: 1px solid black;
    border-radius: 8px;
	padding: 4px 6px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#minddrop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    border: 2px solid black;
}

#filter_drawer_button {
    position: fixed;
    top: 50%;
    left: 24px;
    font-size: 2rem;
    transform: translateY(-100%);
    border: none;
}

#position_banner::before {
    content: "—";
}

#position_banner {
    padding: 0.5em 1em;
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: aliceblue;
    border-top: 1px solid black;
    user-select: none;
}

#navigation_controls {
    position: relative;
    top: 1px;
    right: 0px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid black;
    border-bottom: none;
    border-radius: 16px 16px 0 0;
    background-color: white;
}

#drop-display {
    max-width: 80%;
    align-self: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid goldenrod; */
}

#no-drops {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}